* {
  font-family: sans-serif;
}

h1, h3 {
  color: red;
}

.italico {
  font-size: 40px;
  border: 1px solid black;
}

ol li{
  background-color: yellow;
}

li {
  font-size: 20px;
}

li em {
  font-weight: bold;
}

.par {
  color: green;
}

.primo {
  text-transform: uppercase;
}

.azul {
  color: blue;
}

.java {
  background-color: pink;
}

ul li:hover {
  font-weight: bold;
}

#stackOverFlow:hover {
  color: orange;
}

#w3Schools:hover {
  color: green;
}

#mdnWebDocs:hover {
  color: black;
}

#devDocs:hover {
  color: yellow;
}

#trybe:hover {
  color: green;
}