button {
  margin: 10px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid black;
  width: 70px;
  height: 25px;
}

button:hover {
  cursor: pointer;
  scale: 1.2;
}

.par {
  background-color: green;
  color: white;
}

.impar {
  background-color: red;
  color: white;
}