* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header {
  background-color: #323433;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: white;
}

h3 {
  color: #cecece;
  text-decoration: underline;
}

section p {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}
